@page
@model WA_Kingpos.Pages.NhomNhanVien.IndexModel
@{
    ViewData["Title"] = "Nhóm Nhân Viên";
    ViewData["Name"] = "nhomnhanvien";
}
<div class="row">
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="tablefull" class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Mã</th>
                            <th>Tên nhóm</th>
                            <th>Người quản lý</th>
                            <th>Thành viên</th>
                            <th>Ghi chú</th>
                            @*<th>Sử dụng</th>*@
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.listitem)
                        {
                            <tr>
                                <td>@item.MANHOM</td>
                                <td>@item.TENNHOM_NHANVIEN</td>
                                <td>@item.NGUOIQUANLY</td>
                                <td>@item.TEN_THANHVIEN</td>
                                <td>@item.GHICHU</td>
                                @*@if (@item.sudung.ToString().ToLower() == "true")
                                    {
                                        <td><input type="checkbox" checked>@item.sudung</td>
                                    }
                                    else
                                    {
                                        <td><input type="checkbox">@item.sudung</td>
                                    }*@
                                <td>
                                    <a class="btn btn-info btn-sm" role="button" asp-page="./View" asp-route-id="@item.MANHOM">Xem</a>
                                    @if (Model.bSua)
                                    {
                                        <a class="btn btn-warning btn-sm" role="button" asp-page="./Edit" asp-route-id="@item.MANHOM">Sửa</a>
                                    }
                                    @if (Model.bXoa)
                                    {
                                        <a class="btn btn-danger btn-sm" role="button" asp-page="./Delete" asp-route-id="@item.MANHOM">Xóa</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                @if (Model.bThem)
                {
                    <a class="btn btn-primary" role="button" asp-page="./Create">Thêm mới</a>
                }
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->