@page
@model WA_Kingpos.Pages.NhomNhanVien.ViewModel
@{
    ViewData["Title"] = "Chi Tiết Nhóm Nhân viên";
    ViewData["Name"] = "nhomnhanvien";
}
<div class="row">
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th>Mã :</th>
                            <td>@Model.item.MANHOM</td>
                        </tr>
                        <tr>
                            <th>Tên :</th>
                            <td>@Model.item.TENNHOM_NHANVIEN</td>
                        </tr>
                        <tr>
                            <th>Người quản lý :</th>
                            <td>@Model.item.NGUOIQUANLY</td>
                        </tr>
                        <tr>
                            <th>Ghi chú :</th>
                            <td>@Model.item.GHICHU</td>
                        </tr>
                        @*<tr>
                                <th>Sử dụng :</th>
                                @if (@Model.item.sudung.ToString().ToLower() == "true")
                                {
                                    <td><input type="checkbox" checked></td>
                                }
                                else
                                {
                                    <td><input type="checkbox"></td>
                                }
                            </tr>*@
                    </tbody>
                </table>
            </div>


            <!-- /.card-body -->
            <div class="card-footer">
                <a class="btn btn-primary" role="button" asp-page="Index">Trở lại danh sách</a>
                @if (Model.bSua)
                {
                    <a class="btn btn-warning" role="button" asp-page="./Edit" asp-route-id="@Model.item.MANHOM">Sửa</a>
                }
                @if (Model.bXoa)
                {
                    <a class="btn btn-danger" role="button" asp-page="./Delete" asp-route-id="@Model.item.MANHOM">Xóa</a>
                }
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>


<!-- /.row -->

<div class="row mt-3">
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Danh sách thành viên</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="tablefull" class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Mã</th>
                            <th>Tên thành viên</th>
                            <th>Phòng ban</th>
                            <th>Ngày sinh</th>
                            <th>Giới tính</th>
                            <th>Địa chỉ</th>
                            <th>Điện thoại</th>
                            <th>Ngày nhận việc</th>
                            <th>Hình thức</th>
                            @*@if (Model.bXoa)
                                {
                                    <th>Thao tác</th>
                                }*@

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.item.listThanhVien)
                        {
                            <tr>
                                <td>@item.manhanvien</td>
                                <td>@item.tennhanvien &nbsp;&nbsp;<i class="fa fa-key nav-icon icon-leader @(item.manhanvien == Model.item.MA_NGUOIQUANLY?.ToString() ? "" : "d-none")" style="color: #dc3545; " /></td>
                                <td>@item.TENCHUCVU</td>
                                <td>@item.ngaysinh</td>
                                <td>@item.strGioitinh</td>
                                <td>@item.diachi</td>
                                <td>@item.dienthoai</td>
                                <td>@item.NGAYNHANVIEC</td>
                                <td>@item.HINHTHUC</td>
                                @*<td>
                                        @if (Model.bXoa)
                                        {
                                            <a class="btn btn-danger btn-sm" role="button" asp-page="./Delete" asp-route-id="@item.manhanvien">Xóa</a>
                                        }
                                    </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
