@page
@model WA_Kingpos.Pages.TaiKhoan.ViewModel
@{
    ViewData["Title"] = "Chi Tiết Tài Khoản";
    ViewData["Name"] = "taikhoan";
}
<div class="row">
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th>Tài khoản :</th>
                            <td>@Model.item.userid</td>
                        </tr>
                        <tr>
                            <th>Nhóm quyền :</th>
                            <td>@Model.item.nhomquyen</td>
                        </tr>
                        <tr>
                            <th>Nhân viên :</th>
                            <td>@Model.item.nhanvien</td>
                        </tr>
                        <tr>
                            <th>Ngày sinh :</th>
                            <td>@Model.item.ngaysinh</td>
                        </tr>
                        <tr>
                            <th>Giới tính :</th>
                            <td>@Model.item.gioitinh</td>
                        </tr>
                        <tr>
                            <th>Địa chỉ :</th>
                            <td>@Model.item.diachi</td>
                        </tr>
                        <tr>
                            <th>Điện thoại :</th>
                            <td>@Model.item.dienthoai</td>
                        </tr>
                        <tr>
                            <th>Sử dụng :</th>
                            @if (@Model.item.sudung.ToString().ToLower() == "true")
                            {
                                <td><input type="checkbox" checked></td>
                            }
                            else
                            {
                                <td><input type="checkbox"></td>
                            }
                        </tr>
                        <tr>
                            <th>Trạng thái :</th>
                            <td>@Model.item.trangthai</td>
                        </tr>
                        <tr>
                            <th>Thiết bị :</th>
                            <td>@Model.item.thietbi</td>
                        </tr>
                        <tr>
                            <th>Thời gian :</th>
                            <td>@Model.item.thoiggian</td>
                        </tr>
                        <tr>
                            <th>Tiền tạm ứng :</th>
                            <td>@Model.item.tientamung</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <a class="btn btn-primary" role="button" asp-page="Index">Trở lại danh sách</a>
                @if (Model.bSua)
                {
                    <a class="btn btn-warning" role="button" asp-page="./Edit" asp-route-id="@Model.item.userid">Sửa</a>
                }
                @if (Model.bXoa)
                {
                    <a class="btn btn-danger" role="button" asp-page="./Delete" asp-route-id="@Model.item.userid">Xóa</a>
                }
                @if (Model.bHuydangnhap)
                {
                    <a class="btn btn-secondary" role="button" asp-page="./Logout" asp-route-id="@Model.item.userid">Hủy đăng nhập</a>
                }
                @if (Model.bTientamung)
                {
                    <a class="btn btn-success" role="button" asp-page="./Tamung" asp-route-id="@Model.item.userid">Tiền tạm ứng</a>
                }
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
