@page
@model WA_Kingpos.Pages.Capdodaily.ViewModel
@{
    ViewData["Title"] = "Chi Tiết Cấp độ đại lý";
    ViewData["Name"] = "capdodaily";
}
<div class="row">
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th >Mã :</th>
                            <td>@Model.item.ma_donvitinh</td>
                        </tr>
                        <tr>
                            <th>Tên :</th>
                            <td>@Model.item.ten_donvitinh</td>
                        </tr>
                        <tr>
                            <th>Chiết khấu :</th>
                            <td>@Model.item.chietkhau</td>
                        </tr>
                        <tr>
                            <th>Ghi chú :</th>
                            <td>@Model.item.ghichu</td>
                        </tr>
                        <tr>
                            <th>Sử dụng :</th>
                            @if (@Model.item.sudung.ToString().ToLower() == "true")
                            {
                                <td><input type="checkbox" checked></td>
                            }
                            else
                            {
                                <td><input type="checkbox"></td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <a class="btn btn-primary" role="button" asp-page="Index">Trở lại danh sách</a>
                @if (Model.bSua)
                {
                    <a class="btn btn-warning" role="button" asp-page="./Edit" asp-route-id="@Model.item.ma_donvitinh">Sửa</a>
                }
                @if (Model.bXoa)
                {
                    <a class="btn btn-danger" role="button" asp-page="./Delete" asp-route-id="@Model.item.ma_donvitinh">Xóa</a>
                }
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->