@page
@model WA_Kingpos.Pages.Baocao.BCBanHangDaiLy.IndexModel
@{
    ViewData["Title"] = "Báo Cáo Bán Hàng Đại Lý";
    ViewData["Name"] = "bcbanhangdaily";
}
<div class="row">
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form method="post">
                    @if (TempData["AlertMessage"] != null)
                    {
                        <div id="AlertBox" class="alert @TempData["AlertType"] hide" role="alert">
                            @TempData["AlertMessage"]
                        </div>
                    }
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-lg-3 col-md-5">
                            <div class="form-group">
                                <label>Từ ngày - Đến ngày</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                    <input type="text" asp-for="sTungay" class="form-control float-right" id="reservationtime">
                                    @* <input type="text" class="form-control float-right" id="reservation"> *@
                                </div>
                                <span asp-validation-for="sTungay" class="text-danger"></span>
                            </div>
                        </div>

                        @* <div class="col-md-6">
                            <div class="form-group">
                                <label>Chọn:</label>
                                <div class="input-group mt-2">
                                    @* <input type="text" asp-for="sTungay" class="form-control float-right" id="reservation"> 
                                    <label class="mr-1"><input asp-for="selectedValue" type="radio" name="id2" value="cuahang" onclick="updateComboBox('cuahang')"> Theo cửa hàng</label><br>
                                    <label class="mr-1"><input asp-for="selectedValue" type="radio" name="id2" value="kho" onclick="updateComboBox('kho')"> Theo kho</label><br>
                                    <label class="mr-1"><input asp-for="selectedValue" type="radio" name="id2" value="quay" onclick="updateComboBox('quay')"> Theo quầy</label><br><br>
                                    <label class="mr-1"><input asp-for="selectedValue" type="radio" name="id2" value="nhomhang" onclick="updateComboBox('nhomhang')"> Theo nhóm hàng</label><br><br>
                                    <label class="mr-1"><input asp-for="selectedValue" type="radio" name="id2" value="hanghoa" onclick="updateComboBox('hanghoa')"> Theo hàng hóa</label><br><br>
                                    <label class="mr-1"><input asp-for="selectedValue" type="radio" name="id2" value="nhanvien" onclick="updateComboBox('nhanvien')"> Theo nhân viên</label><br><br>
                                    <label class="mr-1"><input asp-for="selectedValue" type="radio" name="id2" value="nganhhang" onclick="updateComboBox('nganhhang')"> Theo ngành hàng</label><br><br>
                                </div>
                            </div>
                        </div> *@

                        <div class="col-lg-3 col-md-5">
                            <div class="form-group">
                                <label id="dynamicLabel" for="comboBox">Lựa chọn:</label>
                                <div class="input-group">
                                    <select id="comboBox" asp-for="sCombo" class="form-control">
                                    </select>
                                </div>
                                <span asp-validation-for="sCombo" class="text-danger"></span>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <button type="submit" name="submitButton" value="view" class="btn btn-primary">Xem báo cáo</button>
                        <button type="submit" name="submitButton" value="print" class="btn btn-dark">Xuất PDF</button>
                        <button type="submit" name="submitButton" value="excel" class="btn btn-success">Xuất Excel</button>
                    </div>

                </form>
                <table id="tablefull" class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th style="text-align:center ; vertical-align:middle">STT</th>
                            <th style="text-align:center ; vertical-align:middle">Mã hóa đơn</th>
                            <th style="text-align:center ; vertical-align:middle">Ngày tạo</th>
                            <th style="text-align:center ; vertical-align:middle">Mã hàng hóa</th>
                            <th style="text-align:center ; vertical-align:middle">Tên hàng hóa</th>
                            <th style="text-align:center ; vertical-align:middle">ĐVT</th>
                            <th style="text-align:center ; vertical-align:middle">SL</th>
                            <th style="text-align:center ; vertical-align:middle">Đơn giá</th>
                            <th style="text-align:center ; vertical-align:middle">Thành tiền</th>
                            <th style="text-align:center ; vertical-align:middle">VAT</th>
                            <th style="text-align:center ; vertical-align:middle">Tiền VAT</th>
                            <th style="text-align:center ; vertical-align:middle">Phụ thu</th>
                            <th style="text-align:center ; vertical-align:middle">Chiết khấu</th>
                            <th style="text-align:center ; vertical-align:middle">Tổng cộng</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.listHD)
                        {
                            <tr>
                                <td>@item.STT</td>
                                <td>@item.MA_HOADON</td>
                                <td>@item.NGAYTAO</td>
                                <td>@item.MAHANGHOA</td>
                                <td>@item.TENHANGHOA</td>
                                <td>@item.DVT.ToString()</td>
                                <td>@item.SOLUONG.ToString("N0")</td>
                                <td>@item.DONGIA.ToString("N0")</td>
                                <td>@item.THANHTIEN.ToString("N0")</td>
                                <td>@item.VAT.ToString("N0")</td>
                                <td>@item.TIENVAT.ToString("N0")</td>
                                <td>@item.TIENPHUTHU.ToString("N0")</td>
                                <td>@item.TIENCHIETKHAU.ToString("N0")</td>
                                <td>@item.TONGCONG.ToString("N0")</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot class="font-weight-bold">
                        <tr class="mt-1">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Tổng tiền:</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>@Model.thanhTien.ToString("N0")</td>
                            <td></td>
                            <td>@Model.tienVAT.ToString("N0")</td>
                            <td>@Model.tienPhuThu.ToString("N0")</td>
                            <td>@Model.tienChietKhau.ToString("N0")</td>
                            <td>@Model.tongCong.ToString("N0")</td>
                            @* <td></td> *@
                            @* <td></td> *@
                            @* <td></td> *@
                        </tr>
                    </tfoot>
                </table>

            </div>
            <!-- /.card-body -->
            <div class="card-footer">
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<style>
    .form-group1 {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px; /* Optional: Adjust spacing between elements */
    }
</style>
<script>
    var ListNhanvien = @Html.Raw(Json.Serialize(Model.ListNhanvien));
    function loadCombobox() {
        
        let data = [];
        
        console.log(ListNhanvien);
        document.getElementById('dynamicLabel').textContent = "Chọn nhân viên";
        data = ListNhanvien;

        // Add new options to the combobox
        data.forEach(item => {
            const newOption = document.createElement("option");
            newOption.value = item.MA;
            newOption.textContent = item.TEN;
            newOption.innerHTML = `<span class="id-column">${item.MA}</span> - <span></span><span class="name-column">${item.TEN}</span>`;
            comboBox.add(newOption);
        });
    }

    loadCombobox();
</script>
<!-- /.row -->