@page
@model WA_Kingpos.Pages.Nghiepvu.PhieuDatXeFina.ViewModel
@{
    ViewData["Title"] = "Tạo Phiếu Đặt Xe Thành Công";
    ViewData["Name"] = "PhieuDatXe";
}
<div class="row">
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th>Số phiếu :</th>
                            <td class="font-weight-bold">@Model.item.maphieu</td>
                        </tr>
                        <tr>
                            <th>Nhân viên :</th>
                            <td class="font-weight-bold">@Model.item.nhanvien</td>
                        </tr>
                        <tr>
                            <th>Ngày đặt :</th>
                            <td class="font-weight-bold">@Model.item.ngaylap</td>
                        </tr>
                        <tr>
                            <th>Ngày bốc hàng :</th>
                            <td class="font-weight-bold">@Model.item.ngaygiaohang</td>
                        </tr>
                        <tr>
                            <th>Kho :</th>
                            <td class="font-weight-bold">@Model.item.kho</td>
                        </tr>
                        <tr>
                            <th>Tài xế :</th>
                            <td class="font-weight-bold">@Model.item.khachhang</td>
                        </tr>
                        <tr>
                            <th>Điện thoại :</th>
                            <td>@Model.item.dienthoai</td>
                        </tr>
                        <tr>
                            <th>CMT/CCCD :</th>
                            <td>@Model.item.cccd</td>
                        </tr>
                        <tr>
                            <th>Biển số xe :</th>
                            <td class="font-weight-bold">@Model.item.diachi</td>
                        </tr>
                    </tbody>
                </table>
                @* <p class="font-weight-bold">DANH SÁCH ĐƠN HÀNG</p>
                <table id="tablesimple" class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Số phiếu</th>
                            <th>Nhân viên</th>
                            <th>Ngày đặt</th>
                            <th>Khách hàng</th>
                            <th>Tổng tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.listitem)
                        {
                            <tr>
                                <td>@item.stt</td>
                                <td>@item.masanpham</td>
                                <td>@item.tensanpham</td>
                                <td>@item.donvitinh</td>
                                <td>@item.dongia</td>
                                <td>@item.thanhtien</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>@String.Format("{0:N0}", @Model.tongthanhtien)</th>
                        </tr>
                    </tfoot>
                </table> *@

                <div id="CardView" class="card card-success">
                    <div class="card-header bg-secondary">
                        <h3 class="card-title">DANH SÁCH ĐƠN HÀNG</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @foreach (var item in Model.listitem)
                            {
                                <div class="col-md-2">
                                    <div class="card card-widget widget-user-2">
                                        <div class="card-footer p-0">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">
                                                        STT <span class="float-right text-info">@item.stt</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">
                                                        Số phiếu <span class="float-right text-info">@item.masanpham</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">
                                                        Nhân viên <span class="float-right text-info">@item.tensanpham</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">
                                                        Ngày đặt <span class="float-right text-info">@item.donvitinh</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">
                                                        Khách hàng <span class="float-right text-info">@item.dongia</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">
                                                        Số lượng <span class="float-right text-info">@item.soluong</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="card-footer font-weight-bold text-info">
                        Tổng số lượng: @String.Format("{0:N0}", @Model.tongsoluong)
                    </div>
                </div>

                <br />
                <div class="form-group">
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <a class="btn btn-primary" role="button" asp-page="Index">Thêm phiếu mới</a>
                @if (@Model.item.trangthai == "0")
                {
                    <a class="btn btn-warning" role="button" asp-page="Edit" asp-route-id="@Model.item.maphieu">Chỉnh sửa phiếu này</a>
                }
                <a class="btn btn-info" role="button" asp-page="Lists">Danh sách phiếu đã tạo</a>
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
