@page
@model WA_Kingpos.Pages.Baocao.DSDondatxeFina.IndexModel
@{
    ViewData["Title"] = "Báo Cáo Danh Sách Đơn Đặt Xe";
    ViewData["Name"] = "danhsachdonxefina";
}
<div class="row">
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form method="post">
                    @if (TempData["AlertMessage"] != null)
                    {
                        <div id="AlertBox" class="alert @TempData["AlertType"] hide" role="alert">
                            @TempData["AlertMessage"]
                        </div>
                    }
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Từ ngày - Đến ngày</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                    <input type="text" asp-for="sTungayDat" class="form-control float-right" id="reservation">
                                </div>
                                <span asp-validation-for="sTungayDat" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Người tạo phiếu</label>
                                <select asp-for="sNhanvien" class="form-control select2bs4" style="width: 100%;">
                                    @foreach (var item in Model.Listnhanvien)
                                    {
                                        if (Model.Listnhanvien.IndexOf(item) == 0)
                                        {
                                            <option value="@item.MA" selected>@item.TEN</option>
                                        }
                                        else
                                        {
                                            <option value="@item.MA">@item.TEN</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="sNhanvien" class="text-danger"></span>
                                <div class="form-group">
                                    @for (var i = 0; i < Model.Listnhanvien.Count; i++)
                                    {
                                        <input type="hidden" asp-for="@Model.Listnhanvien[i].MA" />
                                        <input type="hidden" asp-for="@Model.Listnhanvien[i].TEN" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Kho</label>
                                <select asp-for="sKho" class="form-control select2bs4" style="width: 100%;">
                                    @foreach (var item in Model.Listkho)
                                    {
                                        if (Model.Listkho.IndexOf(item) == 0)
                                        {
                                            <option value="@item.MA" selected>@item.TEN</option>
                                        }
                                        else
                                        {
                                            <option value="@item.MA">@item.TEN</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="sKho" class="text-danger"></span>
                                <div class="form-group">
                                    @for (var i = 0; i < Model.Listkho.Count; i++)
                                    {
                                        <input type="hidden" asp-for="@Model.Listkho[i].MA" />
                                        <input type="hidden" asp-for="@Model.Listkho[i].TEN" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Đơn hàng</label>
                                <select asp-for="sDonhang" class="form-control select2bs4" style="width: 100%;">
                                    @foreach (var item in Model.Listdonhang)
                                    {
                                        if (Model.Listdonhang.IndexOf(item) == 0)
                                        {
                                            <option value="@item.MA" selected>@item.TEN</option>
                                        }
                                        else
                                        {
                                            <option value="@item.MA">@item.TEN</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="sDonhang" class="text-danger"></span>
                                <div class="form-group">
                                    @for (var i = 0; i < Model.Listdonhang.Count; i++)
                                    {
                                        <input type="hidden" asp-for="@Model.Listdonhang[i].MA" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Tài xế</label>
                                <select asp-for="sTaixe" class="form-control select2bs4" style="width: 100%;">
                                    @foreach (var item in Model.ListTaiXe)
                                    {
                                        if (Model.ListTaiXe.IndexOf(item) == 0)
                                        {
                                            <option value="@item.MA" selected>@item.TEN</option>
                                        }
                                        else
                                        {
                                            <option value="@item.MA">@item.TEN</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="sTaixe" class="text-danger"></span>
                                <div class="form-group">
                                    @for (var i = 0; i < Model.ListTaiXe.Count; i++)
                                    {
                                        <input type="hidden" asp-for="@Model.ListTaiXe[i].MA" />
                                        <input type="hidden" asp-for="@Model.ListTaiXe[i].TEN" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Biển số xe</label>
                                <select asp-for="sBiensoxe" class="form-control select2bs4" style="width: 100%;">
                                    @foreach (var item in Model.listBiensoxe)
                                    {
                                        if (Model.listBiensoxe.IndexOf(item) == 0)
                                        {
                                            <option value="@item.MA" selected>@item.TEN</option>
                                        }
                                        else
                                        {
                                            <option value="@item.MA">@item.TEN</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="sBiensoxe" class="text-danger"></span>
                                <div class="form-group">
                                    @for (var i = 0; i < Model.listBiensoxe.Count; i++)
                                    {
                                        <input type="hidden" asp-for="@Model.listBiensoxe[i].MA" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!-- trang thai -->
                            <div class="form-group">
                                <label>Trạng thái</label>
                                <select asp-for="sTrangthai" class="form-control select2bs4" style="width: 100%;">
                                    @foreach (var item in Model.Listtrangthai)
                                    {
                                        if (Model.Listtrangthai.IndexOf(item) == 0)
                                        {
                                            <option value="@item.MA" selected>@item.TEN</option>
                                        }
                                        else
                                        {
                                            <option value="@item.MA">@item.TEN</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="sTrangthai" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                @for (var i = 0; i < Model.Listtrangthai.Count; i++)
                                {
                                    <input type="hidden" asp-for="@Model.Listtrangthai[i].MA" />
                                    <input type="hidden" asp-for="@Model.Listtrangthai[i].TEN" />
                                }
                            </div>
                        </div>
                        <div class="col-md-3 invisible">
                            <!-- van chuyen -->
                            <div class="form-group">
                                <label>Vận chuyển</label>
                                <select asp-for="sVanchuyen" class="form-control select2bs4" style="width: 100%;">
                                    @foreach (var item in Model.Listvanchuyen)
                                    {
                                        if (Model.Listvanchuyen.IndexOf(item) == 0)
                                        {
                                            <option value="@item.MA" selected>@item.TEN</option>
                                        }
                                        else
                                        {
                                            <option value="@item.MA">@item.TEN</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="sVanchuyen" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                @for (var i = 0; i < Model.Listvanchuyen.Count; i++)
                                {
                                    <input type="hidden" asp-for="@Model.Listvanchuyen[i].MA" />
                                    <input type="hidden" asp-for="@Model.Listvanchuyen[i].TEN" />
                                }
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <button type="submit" name="submitButton" value="view" class="btn btn-primary">Xem báo cáo</button>
                        <button type="submit" name="submitButton" value="print" class="btn btn-dark">Xuất PDF</button>
                        <button type="submit" name="submitButton" value="excel" class="btn btn-success">Xuất Excel</button>
                    </div>

                </form>
                <table id="tablefull" class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th style="text-align:center ; vertical-align:middle">Số phiếu</th>
                            <th style="text-align:center ; vertical-align:middle">Người tạo phiếu</th>
                            <th style="text-align:center ; vertical-align:middle">Ngày tạo phiếu</th>
                            <th style="text-align:center ; vertical-align:middle">Kho</th>
                            <th style="text-align:center ; vertical-align:middle">Tài xế</th>
                            <th style="text-align:center ; vertical-align:middle">Biển số xe</th>
                            <th style="text-align:center ; vertical-align:middle">Tổng số lượng</th>
                            <th style="text-align:center ; vertical-align:middle">Người duyệt</th>
                            <th style="text-align:center ; vertical-align:middle">Ngày duyệt</th>
                            <th style="text-align:center ; vertical-align:middle">Trạng thái</th>
                            <th style="text-align:center ; vertical-align:middle">Xem chi tiết</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.listitem)
                        {
                            <tr>
                                <td>@item.maphieu</td>
                                <td>@item.khachhang</td>
                                <td>@item.ngaylap</td>
                                <td>@item.kho</td>
                                <td>@item.nhanvien</td>
                                <td>@item.bienso</td>
                                <td>@item.thanhtien</td>
                                <td>@item.chon</td>
                                <td>@item.ngaygiaohang</td>
                                <td>@item.trangthai1</td>
                                <td>
                                    <a class="btn btn-info btn-sm" role="button" asp-page="./Detail" asp-route-id="@item.maphieu">Xem</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <!-- /.card-body -->
            <div class="card-footer">
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
