@model WA_Kingpos.Pages.Hanghoa.DeleteModel
@{
    //ViewData["Title"] = "Xóa Hàng hóa";
    //ViewData["Name"] = "hanghoa";
}
<div class="row">
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th>STT :</th>
                            <td>@Model.item.STT</td>
                        </tr>
                        <tr>
                            <th>Mã :</th>
                            <td>@Model.item.MA</td>
                        </tr>
                        <tr>
                            <th>Mã nộ bộ :</th>
                            <td>@Model.item.ID_HANGHOA</td>
                        </tr>
                        <tr>
                            <th>Mã vạch :</th>
                            <td>@Model.item.MAVACH</td>
                        </tr>
                        <tr>
                            <th>Tên :</th>
                            <td>@Model.item.TEN</td>
                        </tr>
                        <tr>
                            <th>ĐVT :</th>
                            <td>@Model.item.TEN_DONVITINH</td>
                        </tr>
                        <tr>
                            <th>Nhóm hàng :</th>
                            <td>@Model.item.TEN_NHOMHANG</td>
                        </tr>
                        <tr>
                            <th>Ghi chú :</th>
                            <td>@Model.item.GHICHU</td>
                        </tr>
                        <tr>
                            <th>Sử dụng :</th>
                            @if (@Model.item.SUDUNG.ToString().ToLower() == "true")
                            {
                                <td><input type="checkbox" checked></td>
                            }
                            else
                            {
                                <td><input type="checkbox"></td>
                            }
                        </tr>
                        <tr>
                            <th>Hình ảnh :</th>
                            @if (@Model.item.HINHANH != null)
                            {
                                var base64 = Convert.ToBase64String(@Model.item.HINHANH);
                                var userImage = String.Format("data:image/gif;base64,{0}", base64);
                                <td><img src="@userImage" alt="Hinhanh" width="200" height="200"></td>
                            }
                            else
                            {
                                <td></td>
                            }
                        </tr>
                        <tr>
                            <th></th>
                            <td><br /></td>
                        </tr>
                        <tr>
                            <th>Thuế :</th>
                            <td>@Model.item.THUE</td>
                        </tr>
                        <tr>
                            <th>Giá nhập :</th>
                            <td>@Model.item.GIANHAP</td>
                        </tr>
                        <tr>
                            <th>Giá bán 1:</th>
                            <td>@Model.item.GIABAN1</td>
                        </tr>
                        <tr>
                            <th>Giá bán 2 :</th>
                            <td>@Model.item.GIABAN2</td>
                        </tr>
                        <tr>
                            <th>Số lượng đóng gói :</th>
                            <td>@Model.item.GIABAN3</td>
                        </tr>
                        <tr>
                            <th>Hệ số quy đổi :</th>
                            <td>@Model.item.GIABAN4</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td><br /></td>
                        </tr>
                    </tbody>
                </table>
                <form method="post">
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Xóa" class="btn btn-danger" />
                    </div>
                </form>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <a class="btn btn-primary" role="button" asp-page="Index">Trở lại danh sách</a>
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->