@using System.Text.Json;
@using WA_Kingpos.Data;
@using WA_Kingpos.Models;
@{
    string Group = "";
    if (ViewData["Name"] == "doimatkhau" || ViewData["Name"] == "phongban" || ViewData["Name"] == "nhanvien" || ViewData["Name"] == "nhomnhanvien" || ViewData["Name"] == "taikhoan" || ViewData["Name"] == "nhomquyen" || ViewData["Name"] == "phanquyen")
    {
        Group = "hethong";
    }
    else if (ViewData["Name"] == "cuahang" || ViewData["Name"] == "kho" || ViewData["Name"] == "quay" || ViewData["Name"] == "bep" || ViewData["Name"] == "donvitinh" || ViewData["Name"] == "nganhhang" || ViewData["Name"] == "nhomhang" || ViewData["Name"] == "hanghoa" || ViewData["Name"] == "nhacungcap" || ViewData["Name"] == "loaidaily" || ViewData["Name"] == "capdodaily" || ViewData["Name"] == "finakhachhang" || ViewData["Name"] == "finataixe")
    {
        Group = "caidat";
    }
    else if (ViewData["Name"] == "cauhinhbaocao" || ViewData["Name"] == "cauhinhkhohanghoa")
    {
        Group = "cauhinh";
    }
    else if (ViewData["Name"] == "PhieuDatHang" || ViewData["Name"] == "duyetdondathang" || ViewData["Name"] == "PhieuDatXe" || ViewData["Name"] == "finaduyetdatxe" || ViewData["Name"] == "finathanhtoancongno" || ViewData["Name"] == "finaduyetthanhtoancongno" || ViewData["Name"] == "bangkhaisoluongtrentau" || ViewData["Name"] == "bangkhainhienlieu" || ViewData["Name"] == "dangkykhuonmatzk" || ViewData["Name"] == "dangkykhuonmatzk_v2" || ViewData["Name"] == "dangkykhuonmatzk_v2_create")
    {
        Group = "nghiepvu";
    }
    else if (ViewData["Name"] == "danhsachhanghoa" || ViewData["Name"] == "danhsachkhachhang" || ViewData["Name"] == "dshoadon" || ViewData["Name"] == "bcbanhang" || ViewData["Name"] == "danhsachtaixe" || ViewData["Name"] == "danhsachdonhangfina" || ViewData["Name"] == "danhsachdonxefina" || ViewData["Name"] == "danhsachpieuthanhtoanfina" || ViewData["Name"] == "doanhsofina" || ViewData["Name"] == "bangluongfina" || ViewData["Name"] == "BCBanVeBanTrongNgay" || ViewData["Name"] == "BCBanVeBanTungChuyen" || ViewData["Name"] == "BCDoanhSoNhanVien" || ViewData["Name"] == "bcbanhangdaily")
    {
        Group = "baocao";
    }

    ViewData["Group"] = Group;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/table.css">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="~/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="~/plugins/bs-stepper/css/bs-stepper.min.css">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="~/plugins/dropzone/min/dropzone.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-multiselect/dist/css/bootstrap-multiselect.min.css" type="text/css">
    <style>
        /* Dùng để set width bảng lưới dữ liệu luôn là 100%, kể cả khi chỉ có ít cột */
        table.dataTable {
            width: 100% !important;
        }
    </style>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button">
                        <i class="fas fa-bars"></i>
                    </a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Index">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/SignedOut">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a class="brand-link" asp-area="" asp-page="/Index">
                <img src="~/dist/img/Logo.png" alt="Kingpos" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Kingpos</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/dist/img/avatar.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-page="/SignedOut" class="d-block"><strong>@User.Identity.Name</strong> - Đăng xuất</a>
                        }
                        else
                        {
                            <a asp-page="/Login" class="d-block">Đăng nhập</a>
                        }
                    </div>
                </div>

                @if (cls_AppSettings.RunMode != ConfRunMode.DkKhuonMat)
                {
                    <!-- SidebarSearch Form -->
                    <div class="form-inline">
                        <div class="input-group" data-widget="sidebar-search">
                            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-sidebar">
                                    <i class="fas fa-search fa-fw"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                }

                @if (cls_AppSettings.RunMode != ConfRunMode.DkKhuonMat)
                {
                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <!-- Add icons to the links using the .nav-icon class
                            with font-awesome or any other icon font library -->
                            <li class="nav-item @(ViewData["Group"]== "hethong" ?" menu-open":"")">
                                <a asp-area="" asp-page="" class="nav-link">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>
                                        Hệ thống
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    @if (cls_UserManagement.AllowView("1", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Hethong/Doimatkhau/Index" class="nav-link @(ViewData["Name"]== "doimatkhau" ?" active":"")">
                                                <i class="far fa-share-square nav-icon"></i>
                                                <p>Đổi mật khẩu</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("1", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "vetau")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Hethong/Doimatkhau/Index" class="nav-link @(ViewData["Name"]== "doimatkhau" ?" active":"")">
                                                <i class="far fa-share-square nav-icon"></i>
                                                <p>Đổi mật khẩu</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("10", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Hethong/PhongBan/Index" class="nav-link @(ViewData["Name"]== "phongban" ?" active":"")">
                                                <i class="far fa-id-card nav-icon"></i>
                                                <p>Phòng ban</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("11", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Hethong/Nhanvien/Index" class="nav-link @(ViewData["Name"]== "nhanvien" ?" active":"")">
                                                <i class="far fa-id-badge nav-icon"></i>
                                                <p>Nhân viên</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView(NhomNhanVien.IndexModel.PermNhomNhanVien, Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Hethong/NhomNhanVien/Index" class="nav-link @(ViewData["Name"]== "nhomnhanvien" ?" active":"")">
                                                <i class="fa fa-users nav-icon"></i>
                                                <p>Nhóm nhân viên</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("19", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Hethong/TaiKhoan/Index" class="nav-link @(ViewData["Name"]== "taikhoan" ?" active":"")">
                                                <i class="far fa-user nav-icon"></i>
                                                <p>Tài khoản</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("2", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Hethong/NhomQuyen/Index" class="nav-link @(ViewData["Name"]== "nhomquyen" ?" active":"")">
                                                <i class="far fa-address-book nav-icon"></i>
                                                <p>Nhóm quyền</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("3", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Hethong/PhanQuyen/Index" class="nav-link @(ViewData["Name"]== "phanquyen" ?" active":"")">
                                                <i class="far fa-sun nav-icon"></i>
                                                <p>Phân quyền</p>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>

                            <li class="nav-item @(ViewData["Group"]== "caidat" ?" menu-open":"")">
                                <a asp-area="" asp-page="" class="nav-link">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p>
                                        Cài đặt
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    @if (cls_UserManagement.AllowView("4", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Caidat/CuaHang/Index" class="nav-link @(ViewData["Name"]== "cuahang" ?" active":"")">
                                                <i class="nav-icon fas fa-columns"></i>
                                                <p>Cửa hàng</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("4", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Caidat/Kho/Index" class="nav-link @(ViewData["Name"]== "kho" ?" active":"")">
                                                <i class="nav-icon fas fa-columns"></i>
                                                <p>Kho</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("4", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Caidat/Quay/Index" class="nav-link @(ViewData["Name"]== "quay" ?" active":"")">
                                                <i class="nav-icon fas fa-columns"></i>
                                                <p>Quầy</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("8", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Caidat/Bep/Index" class="nav-link @(ViewData["Name"]== "bep" ?" active":"")">
                                                <i class="nav-icon far fa-bell"></i>
                                                <p>Bếp</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("7", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Caidat/Donvitinh/Index" class="nav-link @(ViewData["Name"]== "donvitinh" ?" active":"")">
                                                <i class="fa fa-window-maximize nav-icon"></i>
                                                <p>Đơn vị tính</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("6", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Caidat/Nganhhang/Index" class="nav-link @(ViewData["Name"]== "nganhhang" ?" active":"")">
                                                <i class="nav-icon fas fa-tree"></i>
                                                <p>Ngành hàng</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("6", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Caidat/Nhomhang/Index" class="nav-link @(ViewData["Name"]== "nhomhang" ?" active":"")">
                                                <i class="nav-icon fas fa-tree"></i>
                                                <p>Nhóm hàng</p>
                                            </a>
                                        </li>

                                    }
                                    @if (cls_UserManagement.AllowView("6", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Caidat/Hanghoa/Index" class="nav-link @(ViewData["Name"]== "hanghoa" ?" active":"")">
                                                <i class="nav-icon fas fa-tree"></i>
                                                <p>Hàng hóa</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("9", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Caidat/Nhacungcap/Index" class="nav-link @(ViewData["Name"]== "nhacungcap" ?" active":"")">
                                                <i class="far fa-handshake nav-icon"></i>
                                                <p>Nhà cung cấp - Khách hàng</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("9", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Caidat/Loaidaily/Index" class="nav-link @(ViewData["Name"]== "loaidaily" ?" active":"")">
                                                <i class="far fa-handshake nav-icon"></i>
                                                <p>Loại đại lý</p>
                                            </a>
                                        </li>

                                    }
                                    @if (cls_UserManagement.AllowView("9", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Caidat/Capdodaily/Index" class="nav-link @(ViewData["Name"]== "capdodaily" ?" active":"")">
                                                <i class="far fa-handshake nav-icon"></i>
                                                <p>Cấp độ đại lý</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("23120801", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Caidat/KhachHangFina/Index" class="nav-link @(ViewData["Name"]== "finakhachhang" ?" active":"")">
                                                <i class="nav-icon far fa-user-circle"></i>
                                                <p>Khách hàng</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("23120802", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Caidat/TaiXeFina/Index" class="nav-link @(ViewData["Name"]== "finataixe" ?" active":"")">
                                                <i class="nav-icon fa fa-car" aria-hidden="true"></i>
                                                <p>Tài xế</p>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>

                            <li class="nav-item @(ViewData["Group"]== "cauhinh" ?" menu-open":"")">
                                <a asp-area="" asp-page="" class="nav-link">
                                    <i class="nav-icon fas fa-copy"></i>
                                    <p>
                                        Cấu hình
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    @if (cls_UserManagement.AllowView("35", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Cauhinh/CauhinhBaocao/Index" class="nav-link @(ViewData["Name"]== "cauhinhbaocao" ?" active":"")">
                                                <i class="nav-icon fas fa-plus-square"></i>
                                                <p>Cấu hình báo cáo</p>
                                            </a>
                                        </li>
                                    }
                                </ul>
                                <ul class="nav nav-treeview">
                                    @if (cls_UserManagement.AllowView("35", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Cauhinh/Cauhinhkhohanghoa/Index" class="nav-link @(ViewData["Name"]== "cauhinhkhohanghoa" ?" active":"")">
                                                <i class="nav-icon fas fa-plus-square"></i>
                                                <p>Cấu hình Kho - Hàng hóa</p>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>

                            <li class="nav-item @(ViewData["Group"]== "nghiepvu" ?"menu-open":"")">
                                <a asp-area="" asp-page="" class="nav-link">
                                    <i class="nav-icon fas fa-edit"></i>
                                    <p>
                                        Nghiệp vụ
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    @if (cls_UserManagement.AllowView("14102301", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Nghiepvu/PhieuDatHangFina/Index" class="nav-link @(ViewData["Name"]== "PhieuDatHang" ?" active":"")">
                                                <i class="nav-icon far fa-file"></i>
                                                <p>Đặt hàng online</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("14102302", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Nghiepvu/DuyetPhieuDatHangFina/Index" class="nav-link @(ViewData["Name"]== "duyetdondathang" ?" active":"")">
                                                <i class="nav-icon fa fa-check"></i>
                                                <p>Duyệt đơn đặt hàng</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("14102310", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Nghiepvu/PhieuDatXeFina/Index" class="nav-link @(ViewData["Name"]== "PhieuDatXe" ?" active":"")">
                                                <i class="nav-icon far fa-file-audio"></i>
                                                <p>Đặt xe online</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("14102311", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Nghiepvu/DuyetPhieuDatXeFina/Index" class="nav-link @(ViewData["Name"]== "finaduyetdatxe" ?" active":"")">
                                                <i class="nav-icon fa fa-check"></i>
                                                <p>Duyệt đơn đặt xe</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("14102304", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Nghiepvu/ThanhToanCongNoFina/Index" class="nav-link @(ViewData["Name"]== "finathanhtoancongno" ?" active":"")">
                                                <i class="nav-icon far fa-file-excel"></i>
                                                <p>Thanh toán công nợ</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("14102305", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Nghiepvu/DuyetCongNoFina/Index" class="nav-link @(ViewData["Name"]== "finaduyetthanhtoancongno" ?" active":"")">
                                                <i class="nav-icon fa fa-check"></i>
                                                <p>Duyệt công nợ</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView(DangKyKhuonMatZk.IndexModel.Perm_DangKyKhuonMatZk, Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Nghiepvu/DangKyKhuonMatZk/Index" class="nav-link @(ViewData["Name"]== "dangkykhuonmatzk" ?" active":"")">
                                                <i class="nav-icon fa fa-user-plus"></i>
                                                <p>Đăng ký khuôn mặt</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("2025081601", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Nghiepvu/dangkykhuonmatzk_v2/Index" class="nav-link @(ViewData["Name"]== "dangkykhuonmatzk_v2" ?" active":"")">
                                                <i class="nav-icon fa fa-user-plus"></i>
                                                <p>Thông tin khách hàng đã đăng ký khuôn mặt</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowAdd("2025081601", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Nghiepvu/dangkykhuonmatzk_v2/create" class="nav-link @(ViewData["Name"]== "dangkykhuonmatzk_v2_create" ?" active":"")">
                                                <i class="nav-icon fa fa-user-plus"></i>
                                                <p>Đăng ký khuôn mặt - V2</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("2023112201", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "vetau")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Nghiepvu/Khaibaosoluongthucte/Index" class="nav-link @(ViewData["Name"]== "bangkhaisoluongtrentau" ?" active":"")">
                                                <i class="far fa-credit-card nav-icon"></i>
                                                <p>Khai báo số lượng thực tế trên tàu</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("2023121301", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "vetau")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Nghiepvu/KhaibaosoluongthucteQC/Index" class="nav-link @(ViewData["Name"]== "bangkhaisoluongtrentau" ?" active":"")">
                                                <i class="far fa-credit-card nav-icon"></i>
                                                <p>Khai báo số lượng thực tế trên tàu</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("24030608", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "vetau")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Nghiepvu/Khaibaonhienlieu/Index" class="nav-link @(ViewData["Name"]== "bangkhainhienlieu" ?" active":"")">
                                                <i class="far fa-address-card nav-icon"></i>
                                                <p>Khai báo nhiên liệu thực tế</p>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>

                            <li class="nav-item @(ViewData["Group"]== "baocao" ?" menu-open":"")">
                                <a asp-area="" asp-page="" class="nav-link">
                                    <i class="nav-icon fas fa-chart-pie"></i>
                                    <p>
                                        Báo cáo
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    @if (cls_UserManagement.AllowView("48", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Baocao/DSHanghoa/Index" class="nav-link @(ViewData["Name"]== "danhsachhanghoa" ?" active":"")">
                                                <i class="far fa-list-alt nav-icon"></i>
                                                <p>Danh sách hàng hóa</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("28", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Baocao/DSHoaDon/Index" class="nav-link @(ViewData["Name"]== "dshoadon" ?" active":"")">
                                                <i class="fas fa-copy nav-icon"></i>
                                                <p>Danh sách hóa đơn</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("29", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Baocao/BCBanHang/Index" class="nav-link @(ViewData["Name"]== "bcbanhang" ?" active":"")">
                                                <i class="fas fa-copy nav-icon"></i>
                                                <p>Báo cáo bán hàng</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("25050601", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Baocao/BCBanHangDaiLy/Index" class="nav-link @(ViewData["Name"]== "bcbanhangdaily" ?" active":"")">
                                                <i class="fas fa-copy nav-icon"></i>
                                                <p>Báo cáo bán hàng đại lý</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("23120901", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Baocao/DSKhachhang/Index" class="nav-link @(ViewData["Name"]== "danhsachkhachhang" ?" active":"")">
                                                <i class="far fa-list-alt nav-icon"></i>
                                                <p>Danh sách khách hàng</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("23120901", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Baocao/DSTaiXeFina/Index" class="nav-link @(ViewData["Name"]== "danhsachtaixe" ?" active":"")">
                                                <i class="far fa-list-alt nav-icon"></i>
                                                <p>Danh sách tài xế</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("23120902", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Baocao/DSDondathangFina/Index" class="nav-link @(ViewData["Name"]== "danhsachdonhangfina" ?" active":"")">
                                                <i class="far fa-list-alt nav-icon"></i>
                                                <p>Danh sách đơn đặt hàng</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("23120903", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Baocao/DSDondatxeFina/Index" class="nav-link @(ViewData["Name"]== "danhsachdonxefina" ?" active":"")">
                                                <i class="far fa-list-alt nav-icon"></i>
                                                <p>Danh sách đơn đặt xe</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("23120904", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Baocao/DSPhieuthanhtoanFina/Index" class="nav-link @(ViewData["Name"]== "danhsachpieuthanhtoanfina" ?" active":"")">
                                                <i class="far fa-list-alt nav-icon"></i>
                                                <p>Danh sách phiếu thanh toán</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("23120905", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Baocao/DoanhSoFina/Index" class="nav-link @(ViewData["Name"]== "doanhsofina" ?" active":"")">
                                                <i class="fa fa-cart-arrow-down nav-icon"></i>
                                                <p>Doanh số</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("23120906", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Baocao/BangLuongFina/Index" class="nav-link @(ViewData["Name"]== "bangluongfina" ?" active":"")">
                                                <i class="far fa-id-card nav-icon"></i>
                                                <p>Bảng lương</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("28", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Baocao/DashboardDoanhThu/Index" class="nav-link @(ViewData["Name"]== "dashboarddoanhthu" ?" active":"")">
                                                <i class="fas fa-copy nav-icon"></i>
                                                <p>Dashboard doanh thu</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("25030701", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "nhahang")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Baocao/BCDoanhSoNhanVien/Index" class="nav-link @(ViewData["Name"]== "BCDoanhSoNhanVien" ?" active":"")">
                                                <i class="far fa-id-card nav-icon"></i>
                                                <p>Doanh số nhân viên</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("38", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "vetau")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Baocao/BCBanVeBanTungChuyen/Index" class="nav-link @(ViewData["Name"]== "BCBanVeBanTungChuyen" ?" active":"")">
                                                <i class="far fa-id-card nav-icon"></i>
                                                <p>Báo cáo bán vé bán từng chuyến</p>
                                            </a>
                                        </li>
                                    }
                                    @if (cls_UserManagement.AllowView("38", Context.Session.GetString("Permission")) && cls_AppSettings.GetValue["Config:RunMode"].ToString() == "vetau")
                                    {
                                        <li class="nav-item">
                                            <a asp-area="" asp-page="/Baocao/BCBanVeBanTrongNgay/Index" class="nav-link @(ViewData["Name"]== "BCBanVeBanTrongNgay" ?" active":"")">
                                                <i class="far fa-id-card nav-icon"></i>
                                                <p>Báo cáo bán vé trong ngày</p>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="https://help.kingpos.vn/" target="_blank" class="nav-link">
                                    <i class="fa fa-info-circle nav-icon"></i>
                                    <p>Trợ giúp</p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
                }

            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- /.main-sidebar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <main role="main">
                        @RenderBody()
                    </main>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Footer -->
        <footer class="main-footer">
            <b>User</b> @User.Identity.Name    <b>Date</b> @DateTime.Now.ToString("dd/MM/yyyy")
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.0.5
            </div>
        </footer>
        <!-- /.footer -->
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery Online -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Input file -->
    <script src="~/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- my js file -->
    <script src="~/js/site.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Select2 -->
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script src="~/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- InputMask -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="~/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- BS-Stepper -->
    <script src="~/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <!-- dropzonejs -->
    <script src="~/plugins/dropzone/min/dropzone.min.js"></script>
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/bootstrap-multiselect/dist/js/bootstrap-multiselect.min.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <!-- Page specific script for table -->
    <script>
        const dataTableInstances = {};
        function addMobileDropdown(dt, label = 'Xuất / In') {
          const $wrap = $(dt.table().container());              // the DataTable wrapper
          if ($wrap.find('[data-role="dt-mobile-dropdown"]').length) return; // avoid duplicates

          const dropdown = `
            <div class="dropdown d-inline-block d-md-none d-flex justify-content-center align-self-center" data-role="dt-mobile-dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                ${label}
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#" data-dt="copy">Sao chép dữ liệu</a>
                <a class="dropdown-item" href="#" data-dt="csv">Xuất CSV</a>
                <a class="dropdown-item" href="#" data-dt="excel">Xuất Excel</a>
                <a class="dropdown-item" href="#" data-dt="pdf">Xuất PDF</a>
                <a class="dropdown-item" href="#" data-dt="print">In</a>
              </div>
            </div>`;

          // Put it right after the Buttons container (still present but hidden on mobile)
          const $filter = $wrap.find('.dataTables_filter').first();
          if ($filter.length) {
            $filter.after(dropdown);
            //align-self-center
            $filter.addClass("align-self-center");//align-items-center
            $filter.addClass("pt-2");
            $filter.addClass("mr-2");
          } else {
            // fallback: put it before the filter on the same top row
            $wrap.find('.dt-buttons').first().before(dropdown);
          }

          const $btns = $wrap.find('.dt-buttons').first();
          if($btns.length) {
              $btns.addClass("d-none");
              $btns.addClass("d-md-inline-block");
          }

          // Wire actions
          $wrap.on('click', '[data-role="dt-mobile-dropdown"] [data-dt]', function (e) {
            e.preventDefault();
            dt.button('.buttons-' + $(this).data('dt')).trigger();
          });
        }


        function createTableProp({ pageLength, order, ordering, showCmdButtons = true, columnDefs } = {}) {
            // full layout: '<"row"<"col-md-7"lB><"col-md-5"f>>r<"row mb-2"<"col"t>><"row mb-1"<"col-md-7"i><"col-md-5"p>>'
            // let domLayout = '<"row"<"col-md-7"l';
            // if (showCmdButtons) {
            //     // có dùng cmd buttons
            //     domLayout += 'B';
            // }
            // domLayout += '><"col-md-5"f>>r<"row mb-2"<"col"t>><"row mb-1"<"col-md-7"i><"col-md-5"p>>';

            let domLayout =
              // top toolbar
              '<"row align-items-center mb-2"' +
                  // left: length + buttons (stack on xs, inline >= md)
                  '<"col-12 col-md-7 d-flex flex-wrap align-items-start overflow-auto" l >' +
                  // right: search
                  '<"col-12 col-md-5 flex-wrap d-flex justify-content-md-end align-items-center" f >' +
              '>';
            if (showCmdButtons) {
                domLayout += '<"row align-items-center mb-2"' +
                                  // left: length + buttons (stack on xs, inline >= md)
                                  '<"col-12 d-flex flex-wrap align-items-start overflow-auto" B >' +
                              '>'
            }
               
              // processing + table
            domLayout +='r<"row mb-2"<"col" t >>' +
              // bottom info + pagination
              '<"row mb-1 align-items-center"' +
                  '<"col-12 col-md-7" i >' +
                  '<"col-12 col-md-5 d-flex justify-content-md-end" p >' +
              '>';


            return {
                //"responsive": true,
                // "lengthChange": true,
                // "lengthMenu": [5, 10, 20, 50, 100, 150, 200, 300, 500],
                "responsive": false,
                "lengthChange": true,
                // disable sort on first load
                "order": order || [],
                "ordering": (ordering === undefined) ? true : ordering,
                "pageLength": pageLength || 10,
                "autoWidth": true,
                "scrollX": true,
                //"scrollCollapse": true,
                // layout
                dom: domLayout,
                columnDefs: columnDefs,
                buttons: [
                    // Desktop / tablet: show as individual buttons
                    { extend: 'copy',  text: 'Sao chép dữ liệu', className: 'd-none d-md-inline-block' },
                    { extend: 'csv',   text: 'Xuất CSV',         className: 'd-none d-md-inline-block' },
                    { extend: 'excel', text: 'Xuất Excel',       className: 'd-none d-md-inline-block' },
                    { extend: 'pdf',   text: 'Xuất PDF',         className: 'd-none d-md-inline-block' },
                    { extend: 'print', text: 'In',               className: 'd-none d-md-inline-block' },
                ],
                "language": {
                    "lengthMenu": "Hiển thị _MENU_ dòng mỗi trang",
                    "zeroRecords": "Không có dữ liệu",
                    "info": "Hiển thị từ _START_ đến _END_ của _TOTAL_ dòng dữ liệu",
                    "infoEmpty": "Không có dòng nào khả dụng",
                    "infoFiltered": "(lọc từ _MAX_ dòng)",
                    "paginate": {
                        "previous": "Trước",
                        "next": "Sau"
                    },
                    "search": "Tìm kiếm:"
                },
            };
        }
        $(function () {
            const style = document.createElement('style');
            style.innerHTML = `.table_wide {width: 100% !important; }`;
            document.head.appendChild(style);

            dataTableInstances['tablefull'] = $("#tablefull").DataTable(createTableProp());
            //table1.buttons().container().appendTo('#tablefull_wrapper .col-md-6:eq(0)');

            $("#tablelite").DataTable({
                "responsive": true,
                "lengthChange": false,
                "pageLength": 1000,
                "autoWidth": false,
            });
            $("#tablesimple").DataTable({
                "responsive": true,
                "lengthChange": false,
                "pageLength": 1000,
                "autoWidth": false,
                "searching": false,
                "bInfo": false,
                "paging": false,
            });

            //$(".table-no-button").DataTable({
            //    "responsive": true,
            //    "lengthChange": true,
            //    "pageLength": 10,
            //    "autoWidth": false,
            //});

            // dùng chung config nhưng xài class khi page có nhiều table
            $('.table-nth').each(function (index) {
                var key = $(this).attr('id') || 'table-' + index;
                dataTableInstances[key] = $(this).DataTable(createTableProp());
            });

            /* $(".table-nth").DataTable(createTableProp());*/
            addMobileDropdown(dataTableInstances['tablefull']);
        });

    </script>
    <!-- Page specific script for Popup Message -->
    @if (ViewData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewData["Message"]");
            };
        </script>
    }
    <!-- Page specific script for form -->
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4',
            })



            //Datemask dd/mm/yyyy
            $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
            //Datemask2 mm/dd/yyyy
            $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
            //Money Euro
            $('[data-mask]').inputmask()

            //Date picker
            $('#reservationdate').datetimepicker({
                format: "DD/MM/YYYY"
            });

            // single datepicker
            $('.input-datepicker').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                autoApply: true,
                autoUpdateInput: true,
                minYear: 1901,
                maxYear: 2099,
                locale: {
                    format: 'DD/MM/YYYY',
                    daysOfWeek: ["CN", "T2", "T3", "T4", "T5", "T6", "T7"],
                    "monthNames": ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6",
                        "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"],
                },

            }, function (start, end) {
                if ($('.input-datepicker > input').length) {
                    console.log("Kha test")
                    $('.input-datepicker > input').val(start.format('DD/MM/YYYY'));
                }
                // Tự động gửi biểu mẫu
                //$('.input-datepicker').closest('form').submit();
            });

            //Date and time picker
            $('#reservationdatetime').datetimepicker({ format: "DD/MM/YYYY HH:mm:ss", icons: { time: 'far fa-clock' } });

            //Date range picker
            $('#reservation').daterangepicker({
                locale: {
                    format: 'DD/MM/YYYY'
                }
            })
            //Date range picker with time picker
            $('#reservationtime').daterangepicker({
                timePicker: true,
                timePickerIncrement: 30,
                locale: {
                    format: 'DD/MM/YYYY hh:mm A'
                }
            })
            //Date range as a button
            $('#daterange-btn').daterangepicker(
                {
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    startDate: moment().subtract(29, 'days'),
                    endDate: moment()
                },
                function (start, end) {
                    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
                }
            )

            //Timepicker
            $('#timepicker').datetimepicker({
                format: 'LT'
            })

            //Bootstrap Duallistbox
            $('.duallistbox').bootstrapDualListbox()

            //Colorpicker
            $('.my-colorpicker1').colorpicker()
            //color picker with addon
            $('.my-colorpicker2').colorpicker()

            $('.my-colorpicker2').on('colorpickerChange', function (event) {
                $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
            })

            $("input[data-bootstrap-switch]").each(function () {
                $(this).bootstrapSwitch('state', $(this).prop('checked'));
            });

            $('.cboMultiNhanVien').multiselect({
                buttonContainer: '<div class="btn-group" style="display: block;"/>',
                buttonTextAlignment: 'left',
                includeSelectAllOption: true,
                selectAllText: 'Chọn tất cả',
                enableFiltering: true,
                // shows the Select All Option if options are more than
                includeSelectAllIfMoreThan: 1,
                enableCaseInsensitiveFiltering: true,
                filterPlaceholder: 'Tìm kiếm',
                filterBehavior: 'text',
                includeFilterClearBtn: true,
                nonSelectedText: 'Chọn',
                allSelectedText: 'Tất cả',
                nSelectedText: 'Đã chọn',
                // determines if too many options would be displayed
                numberDisplayed: 3,
                widthSynchronizationMode: 'ifPopupIsSmaller',

            });

        })
        // BS-Stepper Init
        document.addEventListener('DOMContentLoaded', function () {
            window.stepper = new Stepper(document.querySelector('.bs-stepper'))
        })

        // DropzoneJS Demo Code Start
        Dropzone.autoDiscover = false

        // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
        var previewNode = document.querySelector("#template")
        previewNode.id = ""
        var previewTemplate = previewNode.parentNode.innerHTML
        previewNode.parentNode.removeChild(previewNode)

        var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
            url: "/target-url", // Set the url
            thumbnailWidth: 80,
            thumbnailHeight: 80,
            parallelUploads: 20,
            previewTemplate: previewTemplate,
            autoQueue: false, // Make sure the files aren't queued until manually added
            previewsContainer: "#previews", // Define the container to display the previews
            clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
        })

        myDropzone.on("addedfile", function (file) {
            // Hookup the start button
            file.previewElement.querySelector(".start").onclick = function () { myDropzone.enqueueFile(file) }
        })

        // Update the total progress bar
        myDropzone.on("totaluploadprogress", function (progress) {
            document.querySelector("#total-progress .progress-bar").style.width = progress + "%"
        })

        myDropzone.on("sending", function (file) {
            // Show the total progress bar when upload starts
            document.querySelector("#total-progress").style.opacity = "1"
            // And disable the start button
            file.previewElement.querySelector(".start").setAttribute("disabled", "disabled")
        })

        // Hide the total progress bar when nothing's uploading anymore
        myDropzone.on("queuecomplete", function (progress) {
            document.querySelector("#total-progress").style.opacity = "0"
        })

        // Setup the buttons for all transfers
        // The "add files" button doesn't need to be setup because the config
        // `clickable` has already been specified.
        document.querySelector("#actions .start").onclick = function () {
            myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED))
        }
        document.querySelector("#actions .cancel").onclick = function () {
            myDropzone.removeAllFiles(true)
        }
        // DropzoneJS Demo Code End
    </script>
    <!-- Page specific script for AlertBox -->
    <script>
        $(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(1000).slideUp(500);
        });
    </script>
    <!-- Input file -->
    <script>
        $(function () {
            bsCustomFileInput.init();
        });
    </script>

    <!-- Load các file Js có liên quan đến page đang xem -->
    @if (File.Exists($"{Directory.GetCurrentDirectory()}/wwwroot/js/views/{ViewData["Group"]}/{ViewData["Name"]}.js")){ 
        <script src="~/js/views/@(ViewData["Group"])/@(ViewData["Name"]).js"></script>
    }

</body>
</html>