@page "{id:int?}"
@model WA_Kingpos.Pages.Nghiepvu.DangKyKhuonMatZk_V2._KS_KhachHangModel
@{
    Layout = null; // return only the fragment (no layout)
}

<div data-modal-title="@Model.Title" data-can-save="@(!Model.IsReadOnly)"></div>

<form id="customerForm" class="needs-validation" method="post" asp-page-handler="Save">
    <input type="hidden" name="Mode" value="@Model.Mode" />
    <input type="hidden" asp-for="KS_KhachHang.MA_KH" />


    <div class="container-fluid">
        <div class="form-row mb-0">
            <div class="col-12">
                <h5>Thông tin khách hàng:</h5>
            </div>

            <div class="col-xl-12">
                <div class="text-center mb-3">
                    <div id="photoReview">
                        @if (string.IsNullOrEmpty(@Model.KS_KhachHang.FACE_PHOTO))
                        {
                            <div>KHÁCH HÀNG CHƯA CẬP NHẬT ẢNH</div>
                        }
                        else
                        {
                            <img src="data:image/jpeg;base64,@Model.KS_KhachHang.FACE_PHOTO"
                            alt="Customer photo"
                            class="img-thumbnail"
                            style="max-width:300px; max-height:300px; min-width:250px; min-height:250px" />
                        }
                    </div>

                    @if (!Model.IsReadOnly)
                    {
                        <div class="d-flex justify-content-center mt-2 mb-2">
                            <!-- Take photo from camera -->
                            <div class="p-2" title="Chụp ảnh">
                                <button class="btn btn-outline-info btn-md" type="button" onclick="openCameraClick(this)">
                                    <i class="fa fa-camera"></i>
                                </button>
                            </div>

                            <div class="p-2 align-self-center">
                                hoặc
                            </div>

                            <!-- Choose from PC -->
                            <div class="p-2" title="Chọn ảnh từ máy">
                                <label class="btn btn-outline-secondary btn-md mb-1">
                                    <i class="fa fa-image"></i>
                                    <input type="file" id="fileInput" accept="image/*" class="d-none" onchange="fileInputChange(this)" />
                                </label>
                            </div>
                        </div> 
                    }

                    <!-- Hidden field to store base64 string -->
                    <input type="hidden" asp-for="KS_KhachHang.FACE_PHOTO" id="photoBase64" />

                    <img id="hiddenImage" src=""
                         alt="Customer photo"
                         class="img-thumbnail"
                         style="max-width:250px; max-height:250px; min-width:150px; min-height:150px" hidden/>

                </div>
            </div>

            <div class="form-group col-xl-6">
                <label asp-for="KS_KhachHang.MA_KH">Mã khách hàng</label>
                <input asp-for="KS_KhachHang.MA_KH" class="form-control" readonly />
            </div>

            <div class="form-group col-xl-6">
                <label asp-for="KS_KhachHang.TEN">Tên khách hàng <span class="text-danger">*</span></label>
                <input type="text" asp-for="KS_KhachHang.TEN" class="form-control" readonly="@Model.IsReadOnly" required/>
            </div>

            <div class="form-group col-xl-6">
                <label asp-for="KS_KhachHang.DIENTHOAI">Điện thoại <span class="text-danger">*</span></label>
                <input type="tel" asp-for="KS_KhachHang.DIENTHOAI" class="form-control" readonly="@Model.IsReadOnly" required />
            </div>

            <div class="form-group col-xl-6">
                <label asp-for="KS_KhachHang.NGAYSINH">Ngày sinh </label>
                @if (Model.IsReadOnly)
                {
                    <input type="text" asp-for="KS_KhachHang.NGAYSINH" class="form-control" readonly />

                }
                else
                {
                    @* <div class="input-group date input-datepicker" data-target-input="nearest">
                        <input type="text" asp-for="KS_KhachHang.NGAYSINH" class="form-control">
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div> *@
                    <div class="input-group date" id="reservationdatetime_NgaySinh" data-target-input="nearest">
                        <input asp-for="KS_KhachHang.NGAYSINH" type="text" class="form-control datetimepicker-input" data-target="#reservationdatetime_NgaySinh" />
                        <div class="input-group-append" data-target="#reservationdatetime_NgaySinh" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                }
            </div>

            <div class="form-group col-xl-6">
                <label asp-for="KS_KhachHang.GIOITINH">Giới tính</label>
                <select asp-for="KS_KhachHang.GIOITINH"
                class="form-control"
                readonly="@Model.IsReadOnly"
                disabled="@Model.IsReadOnly">
                    <option value="Nam">Nam</option>
                    <option value="Nu">Nữ</option>
                </select>
            </div>

            <div class="form-group col-xl-6">
                <label asp-for="KS_KhachHang.EMAIL">Email</label>
                <input type="email" asp-for="KS_KhachHang.EMAIL" class="form-control" readonly="@Model.IsReadOnly" />
            </div>

            <div class="form-group col-xl-12">
                <label asp-for="KS_KhachHang.DIACHI">Địa chỉ</label>
                <textarea class="form-control" rows="3" readonly="@Model.IsReadOnly" asp-for="KS_KhachHang.DIACHI"></textarea>
            </div>

            <div class="col-12">
                <hr class="my-4">
                <h5>Thông tin kiểm soát cổng:</h5>
            </div>

            <div class="form-group col-xl-6">
                <label asp-for="sTuNgay">Từ ngày <span class="text-danger">*</span></label>
                @if (Model.IsReadOnly)
                {
                    <input type="text" asp-for="sTuNgay" class="form-control" readonly />

                }
                else
                {
                    <div class="input-group date" id="reservationdatetime_TuNgay" data-target-input="nearest">
                        <input asp-for="sTuNgay" type="text" class="form-control datetimepicker-input" data-target="#reservationdatetime_TuNgay" required />
                        <div class="input-group-append" data-target="#reservationdatetime_TuNgay" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                }
            </div>

            <div class="form-group col-xl-6">
                <label asp-for="sDenNgay">Đến ngày <span class="text-danger">*</span></label>
                @if (Model.IsReadOnly)
                {
                    <input type="text" asp-for="sDenNgay" class="form-control" readonly />

                } 
                else
                {
                    <div class="input-group date" id="reservationdatetime_DenNgay" data-target-input="nearest">
                        <input asp-for="sDenNgay" type="text" class="form-control datetimepicker-input" data-target="#reservationdatetime_DenNgay" required />
                        <div class="input-group-append" data-target="#reservationdatetime_DenNgay" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                }
                
            </div>

            <div class="form-group col-xl-12">
                <label asp-for="SelectedCongIds">Cổng</label>
                @foreach (var cong in Model.lsCong)
                {
                    <div class="form-check ml-4 mt-1">
                        <input class="form-check-input" type="checkbox"
                               name="SelectedCongIds"
                               value="@cong.ID" id="option_@cong.ID"
                               checked="@Model.SelectedCongIds.Contains(@cong.ID)" disabled="@Model.IsReadOnly" />
                        <label class="form-check-label" for="option_@cong.ID">
                            @cong.NAME
                        </label>
                    </div>
                }
            </div>
        </div>
    </div>

</form>


<div class="modal fade" id="cameraModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h5 class="modal-title">Chụp ảnh</h5>
                <button type="button" class="close" aria-label="Đóng" id="btnCloseCamera" onclick="closeCameraModalClick()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body text-center d-flex justify-content-center">
                <video id="cameraVideo" autoplay playsinline width="300" height="300" style="max-width:100%; border:1px solid #ccc;"></video>
                <canvas id="cameraCanvas" width="300" height="300" style="display:none;"></canvas>
            </div>

            <div class="modal-footer py-2 d-flex justify-content-center">
                <button type="button" class="btn btn-outline-danger btn-md align-self-center" id="btnCancelCamera" onclick="closeCameraModalClick()">
                    Hủy
                </button>

                <button type="button" class=" btn btn-outline-info btn-lg rounded-circle" id="btnTakePhoto" onclick="takePhotoClick()">
                    <i class="fa fa-camera"></i>
                </button>

                <button type="button" class="btn btn-outline-secondary btn-md align-self-center" id="btnSwitchCamera" onclick="switchCameraClick()">
                    Xoay
                </button>

                <button type="button" class="btn btn-outline-secondary d-none" id="btnRetake" onclick="reTakePhotoClick()">Chụp lại</button>
                <button type="button" class="btn btn-success d-none" id="btnUsePhoto" onclick="usePhotoClick()">Dùng ảnh này</button>
            </div>
        </div>
    </div>
</div> 
