@page
@model WA_Kingpos.Pages.DangKyKhuonMatZk_V2.IndexModel
@{
    ViewData["Title"] = "Danh sách khách hàng đăng ký khuôn mặt";
    ViewData["Name"] = "dangkykhuonmatzk_v2";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@section Styles {
    <link rel="stylesheet" href="/lib/sweetalert2/sweetalert2.min.css">
}

<div class="row">
    <div class="col-12">
        <div class="align-items-end">
            <div class="d-flex justify-content-end">
                <div class="custom-control custom-radio d-inline-block m-1 align-self-end">
                    <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios" onchange="HideOrUnhide()">
                    <label class="custom-control-label" for="defaultUnchecked">Xem dưới dạng lưới</label>
                </div>

                <div class="custom-control custom-radio d-inline-block m-1 align-self-end">
                    <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" onchange="HideOrUnhide()" checked>
                    <label class="custom-control-label" for="defaultChecked">Xem dưới dạng thẻ</label>
                </div>
            </div>
        </div>

        <div id="GridView" class="card card-primary mt-2">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
                @* <label class="switch">
                    <input type="checkbox" id="toggleSwitch">
                    <span class="slider"></span>
                </label> *@

            </div>
            <!-- /.card-header -->
            <div class="card-body">
                @if (TempData["AlertMessage"] != null)
                {
                    <div id="AlertBox" class="alert @TempData["AlertType"] hide" role="alert">
                        @TempData["AlertMessage"]
                    </div>
                }
                <form method="post" id="form1">
                    <table id="tablefull" class="table table-bordered table-striped table-sm table-middle table-fixed">
                        <thead>
                            <tr>
                                <th>Mã</th>
                                <th>Tên khách hàng</th>
                                <th>Ngày sinh</th>
                                <th>Giới tính</th>
                                <th>Địa chỉ</th>
                                <th>Điện thoại</th>
                                <th>CCCD</th>
                                <th>Quốc tịch</th>
                                <th>Email</th>
                                <th>Ngày tạo</th>
                                <th>Nhân viên tạo</th>
                                <th style="overflow-wrap: anywhere; word-break: break-word; white-space: normal;">Cổng sử dụng</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody id="tb-body-ks-khachhang">
                            @foreach (var item in Model.listitem)
                            {
								@await Html.PartialAsync("_KS_KhachHang_Row", item)
                            }
                        </tbody>
                    </table>
                </form>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                @if (Model.bThem)
                {
                    <a class="btn btn-primary btn-open-modal" role="button" asp-page="./_KS_KhachHang" asp-route-mode="create">Thêm mới</a>
                }
            </div>
            <!-- /.card-footer -->
        </div>

        <div id="CardView" class="card card-primary mt-2">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    @foreach (var item in Model.listitem)
                    {
                        <div class="col-md-6 col-lg-4">
                            <div class="card">
                                <div class="card-footer p-0">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Mã khách hàng: <span class="float-right text-info">@item.MA_KH</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Tên khách hàng: <span class="float-right text-info">@item.TEN</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Ngày sinh: <span class="float-right text-info">@item.NGAYSINH</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Giới tính: <span class="float-right text-info">@item.GIOITINH</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Điện thoại: <span class="float-right text-info">@item.DIENTHOAI</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                CCCD: <span class="float-right text-info">@item.CCCD</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Quốc tịch: <span class="float-right text-info">@item.QUOCTICH</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Email: <span class="float-right text-info">@item.EMAIL</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Địa chỉ: <span class="float-right text-info">@item.DIACHI</span>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Cổng sử dụng:
                                                <div class="float-right text-info">
                                                    @foreach (var cong in item.CONG_NAME.Split(","))
                                                    {
                                                        <span class="badge badge-pill badge-success">@cong</span>
                                                    }
                                                </div>
                                            </a>
                                        </li>

                                        <li class="d-flex justify-content-center nav-item pt-1 pb-1">
                                            <a asp-page="./_KS_KhachHang"
                                               asp-route-id="@item.MA_KH"
                                               asp-route-mode="view"
                                               class="btn btn-info btn-sm btn-open-modal mx-1">
                                                Xem
                                            </a>
                                            @if (Model.bSua)
                                            {
                                                <a asp-page="./_KS_KhachHang"
                                                    asp-route-id="@item.MA_KH"
                                                    asp-route-mode="edit"
                                                   class="btn btn-warning btn-sm btn-open-modal mx-1">
                                                    Sửa
                                                </a>
                                            }

                                            @if (Model.bXoa)
                                            {
                                                <button type="button" class="btn btn-danger btn-sm btn-delete-customer mx-1" role="button" onclick="showDeleteCustomer(@item.MA_KH)" data="@item.MA_KH">Xóa</button>
                                            }
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<!-- Bootstrap modal -->
<div class="modal fade" id="customerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" " role="document">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h5 class="modal-title" id="modalTitle">Thông tin khách hàng</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body"><!-- Will load via AJAX --></div>
            <div class="modal-footer py-2">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary d-none" id="btnSave">Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="confirmDeleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xác nhận xóa khách hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc muốn xóa khách hàng? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger" id="btn-confirm-delete">Xóa</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="/lib/face-api/face-api.min.js"></script>
    <script src="/lib/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="/js/views/nghiepvu/_ks_khachhang.js"></script>
}
