@page
@model WA_Kingpos.Pages.Nhomhang.EditModel
@using WA_Kingpos.Data
@{
    ViewData["Title"] = "Sửa Nhóm hàng";
    ViewData["Name"] = "nhomhang";
}


@if (cls_AppSettings.AppId == AppId.fina)
{
    <partial name="Edit_fina" />
}
else
{

    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="item.STT" class="control-label">STT</label>
                            <input type="number" asp-for="item.STT" class="form-control" />
                            <span asp-validation-for="item.STT" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="item.TEN" class="control-label">Tên</label>
                            <input type="text" asp-for="item.TEN" class="form-control" />
                            <span asp-validation-for="item.TEN" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="item.GHICHU" class="control-label">Ghi chú</label>
                            <input type="text" asp-for="item.GHICHU" class="form-control" />
                            <span asp-validation-for="item.GHICHU" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="item.HINHANH_UPLOAD" class="control-label">Hình ảnh</label>
                            <div class="form-check">
                                <input asp-for="item.HINHANH_KHONGSUDUNG" type="checkbox" class="form-check-input">
                                <label asp-for="item.HINHANH_KHONGSUDUNG" class="form-check-label">Không sử dụng hình ảnh</label>
                                <span asp-validation-for="item.HINHANH_KHONGSUDUNG" class="text-danger"></span>
                            </div>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" asp-for="item.HINHANH_UPLOAD" class="custom-file-input" id="exampleInputFile">
                                    <label class="custom-file-label" for="exampleInputFile">Chọn file ảnh</label>
                                </div>
                            </div>
                            @if (@Model.item.HINHANH != null)
                            {
                                var base64 = Convert.ToBase64String(@Model.item.HINHANH);
                                var userImage = String.Format("data:image/gif;base64,{0}", base64);
                                <input asp-for="item.HINHANH_STRING" type="hidden" />
                                <br />
                                <img src="@userImage" alt="Hinhanh" width="200" height="200">
                            }
                        </div>
                        <div class="form-check">
                            @if (@Model.item.SUDUNG.ToString().ToLower() == "true")
                            {
                                <input asp-for="item.SUDUNG" type="checkbox" class="form-check-input" checked>
                            }
                            else
                            {
                                <input asp-for="item.SUDUNG" type="checkbox" class="form-check-input">
                            }
                            <label asp-for="item.SUDUNG" class="form-check-label">Sử dụng</label>
                            <span asp-validation-for="item.SUDUNG" class="text-danger"></span>
                        </div>
                        <div class="form-check">
                            @if (@Model.item.THUCDON.ToString().ToLower() == "true")
                            {
                                <input asp-for="item.THUCDON" type="checkbox" class="form-check-input" checked>
                            }
                            else
                            {
                                <input asp-for="item.THUCDON" type="checkbox" class="form-check-input">
                            }
                            <label asp-for="item.THUCDON" class="form-check-label">Thực đơn</label>
                            <span asp-validation-for="item.THUCDON" class="text-danger"></span>
                        </div>
                        <div class="form-check">
                            @if (@Model.item.MONTHEM.ToString().ToLower() == "true")
                            {
                                <input asp-for="item.MONTHEM" type="checkbox" class="form-check-input" checked>
                            }
                            else
                            {
                                <input asp-for="item.MONTHEM" type="checkbox" class="form-check-input">
                            }
                            <label asp-for="item.MONTHEM" class="form-check-label">Món thêm</label>
                            <span asp-validation-for="item.MONTHEM" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="Lưu" class="btn btn-success" />
                        </div>
                    </form>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <a class="btn btn-primary" role="button" asp-page="Index">Trở lại danh sách</a>
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
}
