@page
@model WA_Kingpos.Pages.LaiTau.EditModel
@{
    ViewData["Title"] = "Chỉnh sửa khai báo số lượng thực tế trên tàu";
    ViewData["Name"] = "bangkhaisoluongtrentau";
}
<div class="row">
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th>Tuyến :</th>
                            <td>@Model.item.TENTUYEN</td>
                        </tr>
                        <tr>
                            <th>Ngày :</th>
                            <td>@Model.item.NGAYDI</td>
                        </tr>
                        <tr>
                            <th>Giờ :</th>
                            <td>@Model.item.GIODI</td>
                        </tr>
                        <tr>
                            <th>Tàu :</th>
                            <td>@Model.item.TENDOITUONG</td>
                        </tr>
                        <tr>
                            <th>Người khai báo :</th>
                            <td>@Model.item.NGUOITAO</td>
                        </tr>
                        <tr>
                            <th>Thời gian khai báo :</th>
                            <td>@Model.item.NGAYTAO</td>
                        </tr>
                    </tbody>
                </table>

                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="card card-success card-outline">
                        <div class="card-header">
                            <h5 class="card-title">HÀNH KHÁCH</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group" hidden>
                                <label asp-for="TE">Trẻ em</label>
                                <input asp-for="TE" type="text" class="form-control" />
                                <span asp-validation-for="TE" class="text-danger"></span>
                            </div>
                            <div class="form-group" hidden>
                                <label asp-for="CT">Cao tuổi</label>
                                <input asp-for="CT" type="text" class="form-control" />
                                <span asp-validation-for="CT" class="text-danger"></span>
                            </div>
                            <div class="form-group" hidden>
                                <label asp-for="VIP">VIP</label>
                                <input asp-for="VIP" type="text" class="form-control" />
                                <span asp-validation-for="VIP" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NL">Người lớn</label>
                                <input asp-for="NL" type="text" class="form-control" />
                                <span asp-validation-for="NL" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="VEMOI">Vé mời</label>
                                <input asp-for="VEMOI" type="text" class="form-control" />
                                <span asp-validation-for="VEMOI" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="GHICHU" class="control-label">Ghi chú</label>
                                <input type="text" asp-for="GHICHU" class="form-control" />
                                <span asp-validation-for="GHICHU" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="card card-warning card-outline">
                        <div class="card-header">
                            <h5 class="card-title">XE</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="GM">Gắn máy</label>
                                <input asp-for="GM" type="text" class="form-control" />
                                <span asp-validation-for="GM" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="OT4C">4-5 chỗ</label>
                                <input asp-for="OT4C" type="text" class="form-control" />
                                <span asp-validation-for="OT4C" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="OT7C">7-9 chỗ</label>
                                <input asp-for="OT7C" type="text" class="form-control" />
                                <span asp-validation-for="OT7C" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="OT16C">10-16 chỗ</label>
                                <input asp-for="OT16C" type="text" class="form-control" />
                                <span asp-validation-for="OT16C" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="OT25C">17-25 chỗ</label>
                                <input asp-for="OT25C" type="text" class="form-control" />
                                <span asp-validation-for="OT25C" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="OT50C">26-50 chỗ</label>
                                <input asp-for="OT50C" type="text" class="form-control" />
                                <span asp-validation-for="OT50C" class="text-danger"></span>
                            </div>
                            <div class="form-group" hidden>
                                <label asp-for="XETAI">Xe tải</label>
                                <input asp-for="XETAI" type="text" class="form-control" />
                                <span asp-validation-for="XETAI" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="XETAIDUOI3T">Xe tải dưới 3 tấn</label>
                                <input asp-for="XETAIDUOI3T" type="text" class="form-control" />
                                <span asp-validation-for="XETAIDUOI3T" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="XETAIDUOI5T">Xe tải 3 - 5 tấn</label>
                                <input asp-for="XETAIDUOI5T" type="text" class="form-control" />
                                <span asp-validation-for="XETAIDUOI5T" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="XETAIDUOI8T">Xe tải 5 - 8 tấn</label>
                                <input asp-for="XETAIDUOI8T" type="text" class="form-control" />
                                <span asp-validation-for="XETAIDUOI8T" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="XETAITREN8T">Xe tải trên 8 tấn</label>
                                <input asp-for="XETAITREN8T" type="text" class="form-control" />
                                <span asp-validation-for="XETAITREN8T" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="XETAIVEMOI">Vé mời</label>
                                <input asp-for="XETAIVEMOI" type="text" class="form-control" />
                                <span asp-validation-for="XETAIVEMOI" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="XETAIGHICHU">Ghi chú</label>
                                <input asp-for="XETAIGHICHU" type="text" class="form-control" />
                                <span asp-validation-for="XETAIGHICHU" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Lưu Khai Báo" class="btn btn-success" />
                    </div>
                </form>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->