@page
@model WA_Kingpos.Pages.KHACHANG.KhachHangViewModel
@{
    ViewData["Title"] = "Chi Tiết Khách hàng";
    ViewData["Name"] = "finakhachhang";
}
<div class="row">
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th >Mã :</th>
                            <td>@Model.item.MA</td>
                        </tr>
                        <tr>
                            <th>Tên :</th>
                            <td>@Model.item.TEN</td>
                        </tr>
                        <tr>
                            <th>Địa chỉ :</th>
                            <td>@Model.item.DIACHI</td>
                        </tr>
                        <tr>
                            <th>Điện thoại :</th>
                            <td>@Model.item.DIENTHOAI</td>
                        </tr>
                        <tr>
                            <th>Email :</th>
                            <td>@Model.item.EMAIL</td>
                        </tr>
                        <tr>
                            <th>Mã số thuế :</th>
                            <td>@Model.item.FAX</td>
                        </tr>
                        <tr>
                            <th>CMT/CCCD :</th>
                            <td>@Model.item.CMND</td>
                        </tr>
                        <tr>
                            <th>Sử dụng :</th>
                            @if (@Model.item.SUDUNG.ToString().ToLower() == "true")
                            {
                                <td><input type="checkbox" checked></td>
                            }
                            else
                            {
                                <td><input type="checkbox"></td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <a class="btn btn-primary" role="button" asp-page="Index">Trở lại danh sách</a>
                @if (Model.bSua)
                {
                    <a class="btn btn-warning" role="button" asp-page="./Edit" asp-route-id="@Model.item.MA">Sửa</a>
                }
                @if (Model.bXoa)
                {
                    <a class="btn btn-danger" role="button" asp-page="./Delete" asp-route-id="@Model.item.MA">Xóa</a>
                }
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->